@model Web_Assignment_4.Models.FoodEnforcement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FoodEnforcement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReportDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReportDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecallNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecallNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodeInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodeInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CityNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CityNavigation.City1)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
